[Unit]
Description=Run /opt/endpoint/backup.sh

[Service]
User=root
Type=simple
Slice=opt-endpoint-backup.slice
Restart=no
ExecStart=/opt/endpoint/backup.sh

[Install]
WantedBy=multi-user.target
