[Unit]
Description=Run /opt/endpoint/backup.sh

[Service]
User=root
Type=simple
Restart=on-failure
RestartSec=1
ExecStart=/usr/bin/systemd-inhibit --no-ask-password --why='restic backup' --no-pager /opt/endpoint/backup.sh

[Install]
WantedBy=multi-user.target
